# Data type and structure
1. What are data structures, and why are they important?
   - Data structures are ways of organizing and storing data efficiently so that it can be accessed, modified, and processed effectively. They are essential tools in computer science and software development, and they provide a systematic way to manage large amounts of data and perform operations on it.
2.  Explain the difference between mutable and immutable data types with examples?
    -. Mutable Data Types
Definition: Mutable data types are those whose values can be changed or modified after they are created. In other words, you can alter the contents of the object without creating a new object.
      Immutable Data Types
Definition: Immutable data types are those whose values cannot be changed after they are created. Any operation that attempts to modify an immutable object results in the creation of a new object with the new value.
3. What are the main differences between lists and tuples in Python?
   - Main Differences Between Lists and Tuples in Python:
Aspect	List	Tuple
Mutability	Lists are mutable: their elements can be modified, added, or removed after creation.	Tuples are immutable: once created, their elements cannot be changed.
Syntax	Lists are created using square brackets [].	Tuples are created using parentheses ().
Example	my_list = [1, 2, 3]	my_tuple = (1, 2, 3).
4. Describe how dictionaries store data?
   - In Python, dictionaries are a type of collection that stores data as key-value pairs. Each key is associated with a value, and the key serves as a unique identifier for accessing its corresponding value.
5. Why might you use a set instead of a list in Python?
   -In Python, sets and lists are both used to store collections of items, but they serve different purposes depending on the characteristics of the data and the operations you need to perform.
6. What is a string in Python, and how is it different from a list?
   - In Python, a string is a sequence of characters enclosed in single quotes (') or double quotes ("). Strings are used to represent text data and can be composed of letters, numbers, symbols, and even spaces.
7. How do tuples ensure data integrity in Python?
   - In Python, tuples ensure data integrity primarily through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed.
8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that provides an efficient way to store and retrieve key-value pairs.
9. Can lists contain different data types in Python?
   - Yes, lists in Python can contain different data types. Unlike some other programming languages that require elements of a list to be of the same type, Python allows lists to hold elements of mixed data types.
10. Explain why strings are immutable in Python?
    - Strings are immutable in Python, meaning that once a string is created, its content cannot be changed. This immutability is a key characteristic of Python strings and it plays a crucial role in both performance and design.
11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries in Python offer several advantages over lists, especially for certain tasks that involve efficient data retrieval, management, and organization.
12. Describe a scenario where using a tuple would be preferable over a list?
    - Using a tuple instead of a list in Python can be preferable in scenarios where immutability and data integrity are important.
13. How do sets handle duplicate values in Python?
    - In Python, sets automatically handle duplicate values by removing them. A set is an unordered collection of unique elements.
14. How does the “in” keyword work differently for lists and dictionaries?
    - When used with a list, the in keyword checks if the value you are looking for exists as an element in the list.
    - When used with a dictionary, the in keyword checks for keys, not values.
15. Can you modify the elements of a tuple? Explain why or why note.
    - No, you cannot modify the elements of a tuple after it has been created. This is because tuples are immutable in Python, meaning that once a tuple is created, its contents (the values inside it) cannot be changed, added, or removed.
16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary where the values themselves are dictionaries. In other words, it is a dictionary that contains other dictionaries as values.
17. Describe the time complexity of accessing elements in a dictionary?
    - In Python, dictionaries are implemented using hash tables, which allow for average-case constant time complexity when accessing elements.
18. In what situations are lists preferred over dictionaries?
    - While both lists and dictionaries are commonly used in Python, they are suited to different types of use cases.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries in Python were considered unordered prior to version 3.7, meaning that there was no guarantee about the order in which the key-value pairs would be stored or retrieved.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
   - The main difference between a list and a dictionary in terms of data retrieval lies in the way elements are accessed and stored.

In [ ]:
# 1. Write a code to create a string with your name and print it
# Creating a string with my name
my_name = "Rohit Gupta"
print(my_name)

Rohit Gupta

In [ ]:
# 2. Write a code to find the length of the string "Hello World"
# Defining the string
my_string = "Hello World"
length = len(my_string)
print(length)

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
# Defining the string
my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase
# Defining the string
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
# Defining the string
my_string = "I like apple"
my_string.replace("apple", "orange")

'I like orange'

In [ ]:
# 6.Write a code to create a list with numbers 1 to 5 and print it
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
# Defining the list
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
# Defining the list
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
my_list[1]

'b'

In [ ]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50]
my_list = [10, 20, 30, 40, 50]
my_list.reverse()

In [ ]:
my_list

[50, 40, 30, 20, 10]

In [1]:
# 11.  Write a code to create a tuple with the elements 10, 20, 30 and print it

my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [2]:
# 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
my_tuple = ('apple', 'banana', 'cherry')
my_tuple[0]

'apple'

In [3]:
# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
my_tuple = (1,2,3,4,5)
my_tuple.count(2)

1

In [4]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
my_tuple.index('cat')

1

In [5]:
# 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
my_tuple = ('apple', 'orange', 'banana')
'banana' in my_tuple

True

In [6]:
# 16.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [7]:
# 17.Write a code to add the element 6 to the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [9]:
# 18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [10]:
# 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
my_tuple = ('apple', 'banana', 'cherry')
my_tuple[0]

'apple'

In [11]:
# 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
my_tuple = (1, 2, 3, 2, 4, 2)
my_tuple.count(2)

3

In [12]:
# 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
my_tuple.index('cat')

1

In [13]:
# 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
my_tuple = ('apple', 'orange', 'banana')
'banana' in my_tuple

True

In [14]:
# 23.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [15]:
# 24.Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}